*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Montserrat;
  src: url(assets/font/Montserrat-VariableFont_wght.ttf);
}

body{
  font-family: Montserrat;
  font-size: 1.5em;
  text-align: center;
  background-image: url(assets/svg/rainbow-vortex.svg);
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
}

#root{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}